<h1>Make A Pledge</h1>

<%= form_for [@project, @pledge] do |f| %>

<div class="main-form">
	<div>
		<%= f.label :amount %> 
		<%= f.text_field :amount %>
	</div>
</div>	

<%= f.submit %>
<% end %>

<%= link_to "Back to project", projects_path %>