<h1><%= @project.name %> </h2>

<br>
<p><%= @project.description %></p>

<h3>Rewards</h3>

<% @project.rewards.each do |reward|%>
	<%= link_to reward_path do %>
  	<h2> 
  	<%= reward.amount %> 
  	<%= reward.description %>
  	</h2>
  <% end %>
<% end %>


<%= link_to "Back To Main Page", projects_url %>